@let projectInfo = project();
<div class="card">
    <img [ngSrc]="genericImg" alt="Generic image" width="100" height="100" priority>
    <div class="info">
        <b>{{projectInfo.name}}</b>
        <p>{{projectInfo.username}}</p>
        <p>{{projectInfo.website}}</p>
        <div class="buttons">
            <button (click)="goToTodo()">Ver tareas</button>
            <div (click)="delete()">
                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                </svg>
            </div>
        </div>
    </div>
</div>