@let taskInfo = task();
<div class="card">
    <div class="data-container">
        <div class="data">
            <h5>ID:</h5>
            <p>{{taskInfo.id}}</p>
        </div>
        <div class="data">
            <h5>Tarea:</h5>
            <b>{{taskInfo.title}}</b>
        </div>
        <div class="data">
            <h5>Estado:</h5>
            <mat-checkbox [checked]="taskInfo.completed" />
        </div>
        <div class="data">
            <h5>Acciones:</h5>
            <div class="buttons">
                <div (click)="edit()">
                    <svg class="edit" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                    </svg>
                </div>
                <div (click)="delete()">
                    <svg class="delete" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>