.loading {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--accentShade2);
    opacity: .7;
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    cursor: wait;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    width: 60px;
    height: 60px;
}

.loader {
    fill: none;
    stroke: var(--primaryColor);
    stroke-width: 10;
    stroke-dasharray: 2, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}