@let formGroup = form();
<div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
        <div class="inputBox">
            <input type="text" formControlName="name">
            <span class="placeholder">Título</span>
        </div>
        @if (requiredValidator('name')) {
        <div class="alert">
            El título es obligatorio.
        </div>
        }
        @if (existValidator('name')) {
        <div class="alert">
            El título ya existe.
        </div>
        }
        <div class="inputBox">
            <input formControlName="username">
            <span class="placeholder">Descripción</span>
        </div>
        @if (requiredValidator('username')) {
        <div class="alert">
            La descripción es obligatorio.
        </div>
        }
        <div class="inputBox">
            <input formControlName="website">
            <span class="placeholder">Sitio Web</span>
        </div>
        @if (requiredValidator('website')) {
        <div class="alert">
            El Sitio Web es obligatorio.
        </div>
        }
        <button type="submit" [disabled]="formGroup.invalid">Guardar</button>
    </form>
</div>