@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url("./theme.scss");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--app-container);
}

main {
    position: relative;
    min-height: 100%;
    height: min-content;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
    margin: 2px;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
    font: 500 16px "Poppins", sans-serif;
}

.inputBox {
    position: relative;
    max-width: max-content;
    margin: auto;
    min-width: 100%;
}

input,
select {
    width: 100%;
    max-width: 450px;
    height: 45px;
    border-radius: 14px;
    border: 2px solid var(--main-color);
    background-color: var(--app-container);
    font-size: 15px;
    font-weight: 500;
    color: var(--main-color);
    padding: 5px 10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .1s;
    box-sizing: border-box;

    &:hover,
    &:focus {
        border: 2px solid var(--primaryColor);
        box-shadow: 0 4px var(--primaryColor);
    }

    option {
        font-size: large;
        cursor: pointer;
    }
}

.placeholder {
    position: absolute;
    left: 25px;
    top: 0;
    max-width: max-content;
    max-height: max-content;
    background-color: var(--app-container);
    padding: 0 5px;
    border-radius: 7px;
}

select {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
}

input[type=file] {
    display: none;
}

input[type=radio] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;

    &:hover,
    &:focus {
        border: 0px solid var(--primaryColor);
        box-shadow: 0 0;
    }
}

a.button,
input.button,
button {
    transition: .2s;
    background-color: var(--primaryColor);
    color: var(--app-container);
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--primaryColor);

    &:hover {
        background-color: var(--app-container);
        color: var(--primaryColor);
    }

    &:disabled {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
    }
}

.secundary {
    background-color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);

    &:hover {
        color: var(--secondaryColor);
        border: 2px solid var(--secondaryColor);
    }
}

.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: var(--primaryShade1);
    padding: 2rem;

    .title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    form {
        margin-top: 1.5rem;
    }

    .alert {
        color: var(--errorColor);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
